<div>
  <h2>DEPARTAMENTOS</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Código Padre</th>
        <th>Descripción Padre</th>
      </tr>
    </thead>
    <tr *ngFor="let d of departments">
      <td>{{d.code}}</td>
      <td>{{d.name}}</td>
      <td>{{d.parent.code}}</td>
      <td>{{d.parent.name}}</td>
    </tr>
  </table>
  <h2>PROVINCIAS</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Código Padre</th>
        <th>Descripción Padre</th>
      </tr>
    </thead>
    <tr *ngFor="let p of provinces">
      <td>{{p.code}}</td>
      <td>{{p.name}}</td>
      <td>{{p.parent.code}}</td>
      <td>{{p.parent.name}}</td>
    </tr>
  </table>
  <h2>DISTRITO</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Código Padre</th>
        <th>Descripción Padre</th>
      </tr>
    </thead>
    <tr *ngFor="let d of districts">
      <td>{{d.code}}</td>
      <td>{{d.name}}</td>
      <td>{{d.parent.code}}</td>
      <td>{{d.parent.name}}</td>
    </tr>
  </table>
</div>

